* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Lato', sans-serif;
    color: #333;
    background-color: #F1F6F9;
    align-items: center;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    height: 1000px;
/* arreglar linea blanca y escala de la imagen
    background-image: url('../KnightsDragonfire/img/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
}

.login,
.register {
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.login:hover,
.register:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .login {
        position: static;
        margin-top: 10px;   
        margin-right: 10px; 
    }
    .register {
        position: static;
        margin-top: 10px;   
    }
}





